* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
 .flex{
    display: flex;
    align-items: center;
 }
 .container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
 }

 nav{
    background-color: #bbe4f2;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top:0;
    z-index: 99;
    left: 0;
    right: 0;
 }
 .main-nav{
    justify-content: space-between;
    padding-block: 8px;
 }
 .company-logo img{
    width: 80px;
 }

 .nav-links ul{
    gap: 20px;
 }
 .hover-link{
    cursor: pointer;
 }
 .hover-link:hover{
   color: rgb(225, 16, 16);
   

 }
 .hover-link:active{
    color: rgb(34, 11, 233);

 }
 .nav-item.active{
color: blue;
 }
 .search-bar{
    height: 32px;
    gap: 8px;
 }
 .news-input{
   width: 200px;
   height: 100%;
   padding-inline : 12px;
   border-radius: 4px;
   border: 2px solid #bbd0e2;

 }
 .search-button{
   background-color:  rgb(69, 69, 246) ;
   color: white;
   padding: 8px 24px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.search-button:hover{
     background-color: #4106f4;
}
main{
   padding-block: 20px;
   margin-top: 80px;
}
.cards-container{
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 20px;
   align-items: start;
}
.card{
   width: 360px;
   min-height: 400px;
   box-shadow: 0 0 4px #d4ecff;
   border-radius: 4px;
   cursor: pointer;
   background-color: #fff;
   overflow: hidden;
   transition: all 0.3s ease;
}
.card:hover{
   box-shadow: 1px 1px 8px #d4ecff;
   background-color: #f9faff;
   transform: translateY(-2px);
}
 .card-header img{
   width: 100%;
   min-height:180px;
   object-fit: cover;
 }
 .card-content{
   padding: 12px;;
 }
 .news-source{
   margin-block: 12px;
 }

